
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif!important;
    padding: 0;
    margin: 0;
}

h2 {
    font-family: 'Nanami', sans-serif!important;
    text-transform: uppercase;
    padding-left: 30px;
    padding-top: 30px;
    font-size: 1.5em!important;
    font-weight: bold!important;
    letter-spacing: 0.1em;
}

h3 {
    text-transform: uppercase;
    padding-left: 30px;
    padding-top: 30px;
    font-size: 1.1em!important;
    font-weight: bold!important;
}


p {
    font-size: 10px;
    line-height: 2.4vh;
}

a {
    text-decoration: none;
    color: black;
}

.button {
    background-color: #3e4059;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 200px;
    height: 50px;
}

/* ********************** HEADER ********************** */

.logo-img {
    position: absolute;
    z-index: 1;
    top: 35%;
    left: 35%;
    width: 30%;
}

.top-page > img {
    position: relative;
    width: 100%;
}

/* ********************** PRESENTATION ***************** */

.logotype1 img {
    margin: 0 auto;
    margin-top: 8%;
    margin-bottom: 4%;
    display: block;
}

.textIntro {
    text-align: center;
}

    .textIntro p {
        width: 80%;
        margin: 2% auto;
        display: block;
    }

    .textIntro h3 {
        text-transform: none;
    }

/* *********************** BIODIVERSITE ********************* */

.imageResidence1 {
    width: 77%;
}

.environment-code {
    text-align: right;
}

    .environment-code > * {
        margin: 4% 0;
    }

    .environment-code h3 {
        margin: 0;
    }


    .environment-code img {
        margin-top: 8%;
        margin-bottom: 0;
        width: 25%;
    }

.right-col {
    display: block;
    margin-left: 10%;
}


/** Label **/

.infosLabelRE2020Biodiversite {
    margin: 4% 0;
}

    .firstPart{
        background-color: #3e4059;
        
    }

        .firstPart img {
            margin-bottom: 3%;
            margin-top: 3%;
        }

        .firstPart p {
            margin-bottom: 3%;
        }

    .infosLabelRE2020Biodiversite h3 {
        margin: 20px;
    }

    .infosLabelRE2020Biodiversite h2 {
        margin-bottom: 3%;
        margin-left: 5%;
    }

    .secondPart {
        margin: 4%;
    }

        .secondPart p {
            margin-bottom: 3%;
            margin-top: 2%;
        }

        .secondPart img {
            margin-bottom: 3%;
        }

       

/** Obtenir Label **/

.obtainBiodiversityLabelRE2020 {
    text-align: right;
}
    



/** Carbone **/

.infosCarboneEtBiodiversité {
    background-color: #67be5a;
    margin: 0;
}


    .infosCarboneEtBiodiversité p {
        margin: 4% 0 ;
    }

        .infosCarboneEtBiodiversité img {
            color: inherit;
        }

/** Acteurs **/

.infosActeursEngages {
    margin: 4%;
}

    .infosActeursEngages h3 {
        margin-bottom: 2%;
    }




/** Footer **/

footer {
    text-align:center;
    background-color: #3e4059;
}

    footer ul {
        margin: 0;
    }

        footer ul li {
            margin: 0 1%;
            display: inline-flex;
        }

            footer ul li a {
                color: inherit;
            }



header img {
    opacity: 100%;
}

@media screen and (max-width: 600px) {
    section.top-page {
        height: 1000px;
    }
}
    



